# Postgres Credentials
POSTGRES_DB=transcendence_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# Grafana Credentials
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=votre_mot_de_passe_ici

# Database Credentials
POSTGRES_DB=transcendence
POSTGRES_USER=cloe
POSTGRES_PASSWORD=password_ici

ELASTIC_PASSWORD=pwElastic
KIBANA_PASSWORD=pwKibana

REDIS_PASSWORD=keL3Rad
